/ProblemSolving/RandomQuestions/BeginnerQuestions/nbproject/private/
/ProblemSolving/RandomQuestions/BeginnerQuestions/build/
/ProblemSolving/Codeforces/Level800/nbproject/private/
/ProblemSolving/Codeforces/Level800/build/